// nesse projeto, todos os estilos são globais, então não há componentização

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin texto {
  color: white;
  font-family: "Sevillana", cursive;
  font-weight: 400;
  font-style: normal;
}

body{
  background-image: url("https://github.com/mariaccarolina/TurmaFDV/blob/main/imagens/Imagem%20palacio.png?raw=true");
  background-position: center;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

h2{
  @include texto;
  padding-top: 10px;

    @media(max-width: 850px){
      padding-bottom: 5em;
    }
}

img {
  width: 80vw;
  height: 80vh;
  max-width: fit-content;
  min-width: 30vh;

  @media(max-width: 850px){
    width: 60vw;
    height: 60vh;
  }
}

h3{
  @include texto;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  background-color: #007BFF;
  border-radius: 20%/80%;
  padding: 10px 20px;
  width: 30vw;
  justify-self: center;

    @media (max-width: 850px){
      background-color: #B74794;
      width: 40vw;
    }
}